<form>
    <select name="genre" ng-model="homeCtrl.genre">
        <option selected>Rock</option>
        <option>Metal</option>
        <option>Rap</option>
    </select>
    <button ng-click="homeCtrl.getArtists()">submit</button>

    <div ng-if="homeCtrl.artist">
        <p>Do you like {{homeCtrl.artist.name}}</p>
        <img ng-src="{{homeCtrl.artist.img}}">
        <button ng-click="homeCtrl.addArtist()">Yes</button>
        <button ng-click="homeCtrl.nextArtist()">No</button>
    </div>
</form>